.text-options {
  display: flex;
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
}

.text-option-list {
  display: flex;
  list-style: none;
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;

}

.text-option {
  height: 35px;
  width: 35px;
  border-radius: 10px;

 
}