.text-options {
  display: flex;
  align-items: center;
}

.text-option-list {
  display: flex;
  list-style: none;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-option {
  height: 35px;
  width: 35px;
  border-radius: 10px;

  .text-option-button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #6e7781;
    outline: none;
  }
}

.translate-button {
  background-color: #273fa8;
  color: #f1f0f0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  outline: none;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
