.text-options {
  display: flex;
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
}

.text-option-list {
  display: flex;
  list-style: none;
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;

}

.text-option {
  height: 35px;
  width: 35px;
  border-radius: 10px;

  .text-option-button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #6e7781;
    outline: none;
  }
}