:host{
    padding: 0.8rem;
    display: flex;
}

.translate-form{
    width: 100%;
    height: 24.1rem;
    background-color: #010638;
    margin-top: 2.4rem;
    border-radius: 25px;
}

.translate-options-list{
    display: flex;
    flex-wrap: wrap;
}
