<form class="translate-form">
    <div class="translate-options">
        <ol class="translate-options-list">
            <li class="translate-option"><button>Detect language</button></li>
            <li class="translate-option"><button>English</button></li>
            <li class="translate-option"><button>Spanish</button></li>
            <li class="translate-option">
                <select id="role" name="role">
                <option value=""></option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
                </select>
            </li>
        </ol>
    </div>
    <br>
    <div class="text-div">
        <textarea name="" id="" class="translate-text"></textarea>
        <span class="character counter">/500</span>
    </div>
   
        <!--Add better names-->
    <div class="text-options-div">
        <div class="text-options">
        <ol class="text-option-list">
            <li class="text-option">
                <button>
                    <img src="assets/images/sound_max_fill.svg" alt="sound icon" class="sound-img">
                </button>
            </li>
            <li class="text-option">
                <button>
                    <img src="assets/images/Copy.svg" alt="copy icon" class="copy-img">
                </button>
            </li>
        </ol>
        </div>
        <button>Translate</button>
    </div>

</form>
