@use "../../styles.scss" as *;

:host{
    padding: 0.8rem;
    display: flex;

    @media (min-width: $tablet-size){
        width: 100%;
    }
}

.translate-form{
    width: 100%;
    background-color: rgba(32, 35, 50, 0.877);
    margin-top: 2.4rem;
    border-radius: 25px;
    border: 1px solid #6e7781;
    padding: 1rem 0 1rem 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.text-div{
    width: 100%;
    position: relative;

    .translate-text{
        width: 100%;
        height: 10rem;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 1rem 1rem 0rem 1rem;
        color: #f1f0f0;
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        font-weight: 600;
    }

        
    .character-counter{
        color: #f1f0f0;
        font-size: 12px;
        margin-left: 85%;
        margin-bottom: 0.8rem;
    }
}

.text-options-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem 0 0;
}


