:host{
    padding: 0.8rem;
    display: flex;
}

.translate-form{
    width: 100%;
    height: 24.1rem;
    background-color: rgba(32, 35, 50, 0.877);
    margin-top: 2.4rem;
    border-radius: 25px;
    border: 1px solid #6e7781;
    padding-top: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.translate-options-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 1rem 0 1rem;
}

.translate-option{
    width: 80px;
    height: 50px;
}

.button-option, .select-options, option{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #f1f0f0;
    font-size: 14px;
}

.button-option:active{
    background-color: #6e7781;
    border-radius: 20px;
}

.select-options{
    margin-left: 1rem;


    option{
        background-color: rgba(32, 35, 50, 0.877);
    }
}


.detect-option{
    width: 150px;
}

select{
    text-decoration: none;
}

hr{
    display: block;
    border: 1px solid rgba(103, 103, 104, 0.301);
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}


.text-div{
    width: 100%;
    position: relative;

    .translate-text{
        width: 100%;
        height: 12rem;
        background-color: transparent;
        border: none;
        padding: 1.5rem 1.5rem 2rem 1.5rem;
        color: #f1f0f0;
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        font-weight: 600;
    }

        
    .character-counter{
        position: absolute;
        right: 5%;
        bottom: 10%;
        color: #f1f0f0;
        font-size: 12px;
    }
}

.text-options-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem 0 1.5rem;

    .text-options{
        display: flex;
        align-items: center;
    }
}

.text-option-list{
    display: flex;
    list-style: none;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.text-option{
    height: 35px;
    width: 35px;
    border-radius: 10px;

    .text-option-button{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: transparent;
        border: 1px solid #6e7781;
        outline: none;
    }
}

.translate-button{
    background-color: #273fa8;
    color: #f1f0f0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    outline: none;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}