*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-image: url("../public/assets/images/hero_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
}