
$mobile-size: 480px;
$tablet-size: 700px;
$desktop-size: 1200px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url("../public/assets/images/hero_img-sm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.translate-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
}

.separation-line{
    display: block;
    border: 1px solid rgba(103, 103, 104, 0.301);
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}