:root{
    --mobile-size: 480px;
    --tablet-size: 700px;
    --desktop-size: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url("../public/assets/images/hero_img-sm.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

.logo-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
}

.separation-line{
    display: block;
    border: 1px solid rgba(103, 103, 104, 0.301);
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}