<div class="translate-options">
  <ol class="translate-options-list">
    <li class="translate-option detect-option">
      <button class="button-option">Detect language</button>
    </li>
    <li class="translate-option"><button class="button-option">English</button></li>
    <li class="translate-option"><button class="button-option">Spanish</button></li>
    <li class="translate-option">
      <select id="role" class="select-options" name="role">
        <option value="Russian">Russian</option>
        <option value="French">French</option>
        <option value="Italian">Italian</option>
      </select>
    </li>
  </ol>
</div>
