:host{
    padding: 0.8rem;
    display: flex;
}

.result-form-div{
    width: 100%;
    height: 24rem;
    border-radius: 25px;
    background-color: rgba(32, 35, 50, 0.877);
    border: 1px solid #6e7781;
    padding-top: 1rem;
}

.result-text{
    height: 13rem;
}